{% extends 'baselayout.twig' %}
{% block title 'Filter' %}

{% block content %}
		<h1>Filter</h1>
		<div>
			<h3>Filter options</h3>

			{{ form_start(form) }}
				{# render the fields #}
			<div id="{{ form.vars.id }}">
				{{ form_row(form.property) }}
				{{ form_row(form.value) }}
			</div>
			{{ form_end(form) }}
		</div>
	
		<div>
		  <h3>Result</h3>
		  <ul class="nodes">
		  {% if nodes %}
			  {% for node in nodes %}
				{{  render(node) }}
			  {% endfor %}
		  {% else %}
			<li>Nothing found...</li>
		  {% endif %}
		  </ul>
		</div>
{% endblock %}
{% block script %}
	<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="scripts/updateFilterProperty.js" type="text/javascript"></script>
	<script src="scripts/ajaxRelationvalue.js" type="text/javascript"></script>
	<script type="text/javascript">
		initAjaxFormvalueHook("{{ app.request.basepath }}/ajax/form/");
	</script>
{% endblock %}
