{% extends 'baselayout.twig' %}
{% block title 'Wiki' %}

{% block content %}{% endblock %}


{% block map %}
    <div id="graph" class="map" style="width:80%;">
        <svg id="nodesGraph" class="map"></svg>
        {% if is_granted('ROLE_EDITOR') %}
            <button id="resetConsole">Reset listeners</button>
            <button id="addLinks">Add links</button>
        {% endif %}
    </div>

    <div id="infoPanel" class="info">
        <h3 class="">Node info</h3>
        <div id="nodeInfo"></div>
    </div>
{% endblock %}

{% block script %}
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="{{ app.request.basepath }}/scripts/visualNodeRelations.js"> </script>
    <script type="text/javascript">
        var graphHandler = (function(){
            var nodes = {{nodes|json_encode|raw}};
            var links = {{links|json_encode|raw}};
            return createGraph(nodes,links, '#nodesGraph', "{{ app.request.basepath }}/ajax/nodeInfo/");
        })();
    </script>
    {% if is_granted('ROLE_EDITOR') %}
        <script src="{{ app.request.basepath }}/scripts/graphAdmin.js"> </script>
        <script type="text/javascript">
            makeAdminConsole(graphHandler, "{{ app.request.basepath }}");
        </script>
    {% endif %}

{% endblock %}
