{% extends 'baselayout.twig' %}
{% block title 'History of node info' %}
{% block content %}
	<h1>History of {{node.getName|e}}</h1>
	<ul class="nodes">
		<li>NAME: {{node.getName}}</li>
		<li>DESCRIPTION: {{node.getDescription}}</li>
	</ul>
	
	<h3>Edits</h3>
	<ul class="nodes">
		{% for edit in edits %}
			<li> {{ edit.action|capitalize }}ed by {{  render(edit.user, {link:true}) }} on {{edit.time|date("j-n-Y g:i")}}</li><br>
		{% endfor %}
	</ul>
	
	<a href="{{ path('node', {id:node.id}) }}">Back to node info</a>
{% endblock %}
