{% extends 'baselayout.twig' %}
{% block title 'Wiki' %}

{% block content %}
		<h1>Wiki</h1>
		<p>Search node</p>
		{{form(form, {'action':path('home'), 'method':'POST'})}}
		{{form_rest(form)}}
	</div>

	<div class="content">
	  <p>Nodes in the wiki</p>
	  <ul class="nodes">
	  {% for node in nodes %}
		<li>
		  {{ render(node) }}
		</li>
	  {% endfor %}
	  </ul>
	  <a href="{{ path('insert') }}">Insert new info</a>
		{% if paginator is defined %}
		  <div>
			{{ paginator|raw }}
		  </div>
		{% endif %}
{% endblock %}

{% block script %}
	<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" href="style/autocomplete.css">
	<script src="scripts/autosuggest_name.js" type="text/javascript"></script>
{% endblock %}
