{% extends 'baselayout.twig' %}
{% block title 'Invoer' %}

{% block content %}
		<h1></h1>
		<p>Add all info</p>

		
		{{ form_start(form) }}
			{# render the node's fields #}
			{{ form_row(form.name) }}
			{{ form_row(form.description) }}
			{{ form_row(form.x) }}
			{{ form_row(form.y) }}
			{{ form_row(form.layer) }}

			<h3>{{ form_label(form.relations) }}</h3>
			<ul class="relations collectionholder"
				data-placeholder="__name__"
				data-prototype="{{ include('import/subrelationForm.twig', {relation:form.relations.vars.prototype})|e }}">
				{# iterate over each existing property and render its fields #}
				{% for rel in form.relations %}
					<li>
						{{ form_row(rel.property) }}
					</li>
					<br>
				{% endfor %}
				<li>
					<a href="#" class="add_relation_link">Add another relation</a>
				</li>
			</ul>
		{{ form_end(form) }}
{% endblock %}
{% block script %}
	<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="scripts/addProperty.js" type="text/javascript"></script>
	<script src="scripts/ajaxRelationvalue.js" type="text/javascript"></script>
	<script type="text/javascript">
		initAjaxFormvalueHook("{{ app.request.basepath }}/ajax/form/");
	</script>
{% endblock %}
